<!DOCTYPE html>
<html lang="en">
<head>
    <title>Поиск книг</title>
</head>
<body>
<h1>Поиск книг</h1>
<form id="searchForm">
    <input type="text" id="sometext" placeholder="Введите автора">
    <button type="submit">Найти</button>
</form>
<ul id="book-list"></ul>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const bookList = document.getElementById("book-list");
        const searchForm = document.getElementById("searchForm");
        const sometextInput = document.getElementById("sometext");

        searchForm.addEventListener("submit", function (event) {
            event.preventDefault();
            const sometext = sometextInput.value;
            fetch(`/findbooks?sometext=${sometext}`)
                .then(response => response.json())
                .then(data => {
                    bookList.innerHTML = "";

                    data.forEach(book => {
                        const listItem = document.createElement("li");
                        listItem.textContent = `ID: ${book.id}, Title: ${book.title}`;

                        const authorsList = document.createElement("ul");
                        book.authors.forEach(author => {
                            const authorItem = document.createElement("li");
                            authorItem.textContent = `Author: ${author.name}`;
                            authorsList.appendChild(authorItem);
                        });

                        listItem.appendChild(authorsList);
                        bookList.appendChild(listItem);
                    });
                })
                .catch(error => {
                    console.error("Ошибка при выполнении поиска:", error);
                });
        });
    });
</script>
</body>
</html>
