<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<h1>Person Data</h1>
<p><strong>ID:</strong> <span id="personId"></span></p>
<p><strong>Username:</strong> <span id="personUsername"></span></p>
<p><strong>Role:</strong> <span id="personRole"></span></p>
<p><strong>Enabled:</strong> <span id="personEnabled"></span></p>

<button id="editButton">Редактировать</button>
<button id="deleteButton">Удалить</button>

<script>
    // Получить userId из URL
    const userId = window.location.pathname.split("/").pop();
    const csrfToken = document.cookie
        .split('; ')
        .find(row => row.startsWith('XSRF-TOKEN='))
        .split('=')[1];

    // JavaScript код для отображения данных и кнопок
    function displayPersonData(data) {
        document.getElementById("personId").textContent = userId;
        document.getElementById("personUsername").textContent = data.username;
        document.getElementById("personRole").textContent = data.role;
        document.getElementById("personEnabled").textContent = data.enabled ? "Enabled" : "Disabled";
    }

    // Отправить GET-запрос на сервер для получения данных о Person
    fetch(`/users/${userId}`)
        .then(response => response.json())
        .then(data => {
            displayPersonData(data);
        })
        .catch(error => {
            console.error("Error loading person data: " + error);
        });

    // Код для кнопки "Удалить"
    document.getElementById("deleteButton").addEventListener("click", function () {
        // Отправить DELETE-запрос на сервер для удаления пользователя
        fetch(`/users/${userId}`, {
            method: "DELETE",
            headers: {
                "X-XSRF-TOKEN": csrfToken
            },
            credentials: "same-origin"
        })
            .then(response => {
                if (response.status === 200) {
                    // Удаление прошло успешно
                    alert("Пользователь удален успешно.");
                    window.location.href = "/view/users"; // Перенаправить на главную страницу или другую страницу
                } else {
                    // Возникла ошибка при удалении
                    alert("Произошла ошибка при удалении пользователя.");
                }
            })
            .catch(error => {
                console.error("Error deleting user: " + error);
            });
    });

    // Код для кнопки "Редактировать"
    document.getElementById("editButton").addEventListener("click", function () {
        // Перенаправить на страницу редактирования пользователя, например, /edit_user/1
        window.location.href = `/view/users/edit/${userId}`;
    });
</script>
</body>
</html>